
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

<header class="site-header">

    <div class="wrapper">
      <a class="display-4 nav-link text-center" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
  </header>