---
layout: default
---
{% assign index = page.index %}
{% assign info = site.data.ingredients.ingredients[index] %}

<div class="card text-center vh-100">
  <h1 class="card-header text-center">{{ info.name }} </h1>
  <div class="container-sm">
    <img src="{{ info.img }}" class=" rounded my-3" style="max-height: 33vh; width: auto; height: auto;">
    </img>
  </div>
  <div class="card-body">

    <h6 class="card-subtitle text-muted text-center mb-4">
      {{ info.description }}
    </h6>

    {%if info.facts %}
    <ul class="list-group list-group-flush ml-0">


      {%if info.latin_name %}
      <li class="list-group-item ml-0">
        <div class="d-flex flex-row justify-content-center ">
          <div class="card-text pv-2 mx-1">Latin name: </div>
          <div class="card-text pv-2 font-italic mx-1">
            {{ info.latin_name }}
          </div>
        </div>
      </li>
      {% endif %}
      {%- for fact in info.facts -%}
      <li class="list-group-item">{{fact}}</li>
      {%- endfor -%}
    </ul>
    {% endif %}

    {%if info.recipe %}

    {% assign link = info.recipe | prepend: "/recipes/" %}
    <div class="pt-3"><a href="{{ link }}" class="btn btn-light btn-lg">Go to recipe!</a></div>
    {% endif %}
  </div>
</div>